<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:set="http://www.sitecore.net/xmlconfig/set/">
  <sitecore>
    <pipelines>
      <httpRequestBegin>
        <processor type="Sitecore.Support.Pipelines.HttpRequest.LanguageResolver, Sitecore.Support.141041" patch:instead="processor[@type='Sitecore.Pipelines.HttpRequest.LanguageResolver, Sitecore.Kernel']"/>
      </httpRequestBegin>
    </pipelines>
    <processors>
      <loggedin argsType="Sitecore.Pipelines.LoggedIn.LoggedInArgs">
        <processor mode="on" type="Sitecore.Support.Pipelines.LoggedIn.Ticket, Sitecore.Support.141041" patch:instead="processor[@type='Sitecore.Pipelines.LoggedIn.Ticket, Sitecore.Kernel']"/>
      </loggedin>
    </processors>
  </sitecore>
</configuration>